@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400 700;
}

@font-face {
  font-family: "Ma Shan Zheng";
  src: url("../assets/fonts/MaShanZheng-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Le Mi Crayon";
  src: url("../assets/fonts/LeMiCrayon-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
